<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>sky.elise.moe</title>
        <meta name="description" content="Skyblock Player Stats">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/icons.css">
        <link rel="stylesheet" href="/profile.css">
        <script src="https://kit.fontawesome.com/b7a5478dfd.js" crossorigin="anonymous"></script>
        <script src="/load.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="navbar">
            <a href="https://sky.elise.moe/">sky.elise.moe</a>
            <form onsubmit="return searchSubmit()" method="GET">
                <input class="search" placeholder="Username" type="text" id="searchField" onKeyUp="return searchKeyPressed()" >
                <input type="submit" style="display: none;"/>
            </form>
        </div>
        <div class="container">
            <div class="profile-meta">
                <h2><%= @username %> on <select>
                    <% for @prf in @profiles %>
                        <option <%= @prf[1] == @profile ? 'selected=""' : '' %> value="<%= @prf[0] %>" onclick="gotoProfile('<%= @username %>', '<%= @prf[0] %>')"><%= @prf[0] %></option>
                    <% end %>
                </select></h2>
                <div class="extra-meta">
                    <img src="/Fairy_Soul.png">
                    <p><sup><%= @fairySoulCount %></sup><strong>/</strong>209</p>
                </div>
            </div>
            <div class="stats-container">
                <div class="stats-data flex-centered">
                    <div class="div-background">
                        <p><i class="fas fa-heart" style="color: var(--clr-health-strength);"></i><strong style="color: var(--clr-health-strength);">Health</strong>VALUE</p><br>
                        <p><i class="fas fa-shield-alt" style="color:var(--clr-defense);"></i><strong style="color:var(--clr-defense);">Defense</strong>VALUE</p><br>
                        <p><i class="fas fa-crosshairs" style="color: var(--clr-health-strength);"></i><strong style="color: var(--clr-health-strength);">Strength</strong>VALUE</p><br>
                        <p><i class="fas fa-star"></i><strong>Speed</strong>VALUE%</p><br>
                        <p><i class="fas fa-random" style="color: var(--clr-crit);"></i><strong style="color: var(--clr-crit);">Crit Chance</strong>VALUE%</p><br>
                        <p><i class="fas fa-bullseye" style="color: var(--clr-crit);"></i><strong style="color: var(--clr-crit);">Crit Damage</strong>VALUE%</p><br>
                        <p><i class="fas fa-bolt" style="color: var(--clr-atk-speed);"></i><strong style="color: var(--clr-atk-speed);">Attack Speed</strong>VALUE%</p><br>
                        <p><i class="fas fa-pen" style="color: var(--clr-intel);"></i><strong style="color: var(--clr-intel);">Intelligence</strong>VALUE</p><br>
                        <p><i class="fas fa-fish" style="color: var(--clr-sc-chance);"></i><strong style="color: var(--clr-sc-chance);">SC Chance</strong>VALUE%</p><br>
                        <p><i class="fas fa-magic" style="color: var(--clr-magic-find);"></i><strong style="color: var(--clr-magic-find);">Magic Find</strong>VALUE</p><br>
                        <p><i class="fas fa-spa" style="color: var(--clr-pet-luck);"></i><strong style="color: var(--clr-pet-luck);">Pet Luck</strong>VALUE</p><br>
                    </div>
                </div>
                <div class="stats-skin-render flex-centered ">
                    <img class="div-background" src="https://crafatar.com/renders/body/<%= @playerUUID %>">
                </div>
                <div class="stats-other">
                    <% if @skills.empty? %>
                        <div class="stats-skills div-background">
                            <div class="stats-skills-skill">
                                <i class="icon-minecraft icon-minecraft-barrier" style="margin-right: 6px;"></i>
                                <div class="stats-skills-skill-data">
                                    <div class="stats-skills-skill-meta">
                                        <label>Stats API Disabled!</label>
                                    </div>
                                    <div class="stats-skills-skill-xp">If this is your profile, enable them.</div>
                                </div>
                            </div>
                    <% else %>
                        <div class="stats-skills">
                            <div class="stats-skills-skill">
                                <i class="icon-minecraft icon-minecraft-spawn-egg-skeleton" style="margin-right: 6px;"></i>
                                <div class="stats-skills-skill-data">
                                    <div class="stats-skills-skill-meta">
                                        <label for="<%= @skills['alchemy'][:name] %>-progress"><%= @skills['alchemy'][:name].capitalize %> <strong><%= @skills['alchemy'][:level] %></strong></label>
                                        <span><%= ((@skills['alchemy'][:xp].to_f/@skills['alchemy'][:neededXp].to_f) * 100.0).to_i %>%</span>
                                    </div>
                                    <progress id="alchemy-progress" value="<%= ((@skills['alchemy'][:xp].to_f/@skills['alchemy'][:neededXp].to_f) * 100.0).to_i %>" max="100"></progress><br>
                                    <div class="stats-skills-skill-xp"><%= @skills['alchemy'][:xp] %><strong> / <%= @skills['alchemy'][:neededXp] %> XP</strong></div>
                                </div>
                            </div>
                            <div class="stats-skills-skill">
                                <i class="icon-minecraft icon-minecraft-golden-hoe" style="margin-right: 6px;"></i>
                                <div class="stats-skills-skill-data">
                                    <div class="stats-skills-skill-meta">
                                        <label for="<%= @skills['farming'][:name] %>-progress"><%= @skills['farming'][:name].capitalize %> <strong><%= @skills['farming'][:level] %></strong></label>
                                        <span><%= ((@skills['farming'][:xp].to_f/@skills['farming'][:neededXp].to_f) * 100.0).to_i %>%</span>
                                    </div>
                                    <progress id="farming-progress" value="<%= ((@skills['farming'][:xp].to_f/@skills['farming'][:neededXp].to_f) * 100.0).to_i %>" max="100"></progress><br>
                                    <div class="stats-skills-skill-xp"><%= @skills['farming'][:xp] %><strong> / <%= @skills['farming'][:neededXp] %> XP</strong></div>
                                </div>
                            </div>
                        </div>
                        <div class="stats-skills">
                            <div class="stats-skills-skill">
                                <i class="icon-minecraft icon-minecraft-stone-pickaxe" style="margin-right: 6px;"></i>
                                <div class="stats-skills-skill-data">
                                    <div class="stats-skills-skill-meta">
                                        <label for="<%= @skills['mining'][:name] %>-progress"><%= @skills['mining'][:name].capitalize %> <strong><%= @skills['mining'][:level] %></strong></label>
                                        <span><%= ((@skills['mining'][:xp].to_f/@skills['mining'][:neededXp].to_f) * 100.0).to_i %>%</span>
                                    </div>
                                    <progress id="mining-progress" value="<%= ((@skills['mining'][:xp].to_f/@skills['mining'][:neededXp].to_f) * 100.0).to_i %>" max="100"></progress><br>
                                    <div class="stats-skills-skill-xp"><%= @skills['mining'][:xp] %><strong> / <%= @skills['mining'][:neededXp] %> XP</strong></div>
                                </div>
                            </div>
                            <div class="stats-skills-skill">
                                <i class="icon-minecraft icon-minecraft-stone-sword" style="margin-right: 6px;"></i>
                                <div class="stats-skills-skill-data">
                                    <div class="stats-skills-skill-meta">
                                        <label for="<%= @skills['combat'][:name] %>-progress"><%= @skills['combat'][:name].capitalize %> <strong><%= @skills['combat'][:level] %></strong></label>
                                        <span><%= ((@skills['combat'][:xp].to_f/@skills['combat'][:neededXp].to_f) * 100.0).to_i %>%</span>
                                    </div>
                                    <progress id="combat-progress" value="<%= ((@skills['combat'][:xp].to_f/@skills['combat'][:neededXp].to_f) * 100.0).to_i %>" max="100"></progress><br>
                                    <div class="stats-skills-skill-xp"><%= @skills['combat'][:xp] %><strong> / <%= @skills['combat'][:neededXp] %> XP</strong></div>
                                </div>
                            </div>
                        </div>
                        <div class="stats-skills">
                            <div class="stats-skills-skill">
                                <i class="icon-minecraft icon-minecraft-dark-oak-sapling" style="margin-right: 6px;"></i>
                                <div class="stats-skills-skill-data">
                                    <div class="stats-skills-skill-meta">
                                        <label for="<%= @skills['foraging'][:name] %>-progress"><%= @skills['foraging'][:name].capitalize %> <strong><%= @skills['foraging'][:level] %></strong></label>
                                        <span><%= ((@skills['foraging'][:xp].to_f/@skills['foraging'][:neededXp].to_f) * 100.0).to_i %>%</span>
                                    </div>
                                    <progress id="foraging-progress" value="<%= ((@skills['foraging'][:xp].to_f/@skills['foraging'][:neededXp].to_f) * 100.0).to_i %>" max="100"></progress><br>
                                    <div class="stats-skills-skill-xp"><%= @skills['foraging'][:xp] %><strong> / <%= @skills['foraging'][:neededXp] %> XP</strong></div>
                                </div>
                            </div>
                            <div class="stats-skills-skill">
                                <i class="icon-minecraft icon-minecraft-fishing-rod" style="margin-right: 6px;"></i>
                                <div class="stats-skills-skill-data">
                                    <div class="stats-skills-skill-meta">
                                        <label for="<%= @skills['fishing'][:name] %>-progress"><%= @skills['fishing'][:name].capitalize %> <strong><%= @skills['fishing'][:level] %></strong></label>
                                        <span><%= ((@skills['fishing'][:xp].to_f/@skills['fishing'][:neededXp].to_f) * 100.0).to_i %>%</span>
                                    </div>
                                    <progress id="fishing-progress" value="<%= ((@skills['fishing'][:xp].to_f/@skills['fishing'][:neededXp].to_f) * 100.0).to_i %>" max="100"></progress><br>
                                    <div class="stats-skills-skill-xp"><%= @skills['fishing'][:xp] %><strong> / <%= @skills['fishing'][:neededXp] %> XP</strong></div>
                                </div>
                            </div>
                        </div>
                        <div class="stats-skills">
                            <div class="stats-skills-skill">
                                <i class="icon-minecraft icon-minecraft-enchanted-book" style="margin-right: 6px;"></i>
                                <div class="stats-skills-skill-data">
                                    <div class="stats-skills-skill-meta">
                                        <label for="<%= @skills['enchanting'][:name] %>-progress"><%= @skills['enchanting'][:name].capitalize %> <strong><%= @skills['enchanting'][:level] %></strong></label>
                                        <span><%= ((@skills['enchanting'][:xp].to_f/@skills['enchanting'][:neededXp].to_f) * 100.0).to_i %>%</span>
                                    </div>
                                    <progress id="enchanting-progress" value="<%= ((@skills['enchanting'][:xp].to_f/@skills['enchanting'][:neededXp].to_f) * 100.0).to_i %>" max="100"></progress><br>
                                    <div class="stats-skills-skill-xp"><%= @skills['enchanting'][:xp] %><strong> / <%= @skills['enchanting'][:neededXp] %> XP</strong></div>
                                </div>
                            </div>
                            <div class="stats-skills-skill">
                                <i class="icon-minecraft icon-minecraft-brewing-stand" style="margin-right: 6px;"></i>
                                <div class="stats-skills-skill-data">
                                    <div class="stats-skills-skill-meta">
                                        <label for="<%= @skills['alchemy'][:name] %>-progress"><%= @skills['alchemy'][:name].capitalize %> <strong><%= @skills['alchemy'][:level] %></strong></label>
                                        <span><%= ((@skills['alchemy'][:xp].to_f/@skills['alchemy'][:neededXp].to_f) * 100.0).to_i %>%</span>
                                    </div>
                                    <progress id="alchemy-progress" value="<%= ((@skills['alchemy'][:xp].to_f/@skills['alchemy'][:neededXp].to_f) * 100.0).to_i %>" max="100"></progress><br>
                                    <div class="stats-skills-skill-xp"><%= @skills['alchemy'][:xp] %><strong> / <%= @skills['alchemy'][:neededXp] %> XP</strong></div>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </body>
</html>